<section class="homeHero">
  <h1>
    World's most advanced<br>
    <span>Smartphone<br>Breathalyzer</span>
  </h1>
  <div class="arrow_box"></div>
  <img src="{{ 'alcohootBlackHero.png' | asset_url }}">
</section>

<section class="process">
  <h2>Your Drinking Companion</h2>
  <p>
    Quickly and accurately track your body's reaction to alcohol<br>
    and become a smarter drinker.
  </p>
  <div class="mainHolder steps">
    <div class="step">
      <img src="{{ 'wind.svg' | asset_url }}">
      <h4>Attach</h4>
      <p>
        Plug Alcohoot into your smartphone headphone port.
      </p>
    </div>
    <div class="progress">
      <img src="{{ 'progressArrow.svg' | asset_url }}">
    </div>
    <div class="step">
      <img src="{{ 'detectGraph.svg' | asset_url }}">
      <h4>Blow</h4>
      <p>
        Breathe into the Alcohoot device when the app says to begin.
      </p>
    </div>
    <div class="progress">
      <img src="{{ 'progressArrow.svg' | asset_url }}">
    </div>
    <div class="step">
      <img src="{{ 'decideThumb.svg' | asset_url }}">
      <h4>Know</h4>
      <p>
        Know your number and make the right call.
      </p>
    </div>
  </div>
</section>

<section class="contentRight">
  <div class="contentRightHolder mainHolder">
    <img src="{{ 'product-white.png' | asset_url }}">
    <div class="clear"></div>
    <div>
      <h1>Highly Accurate.  Always Reliable.</h1>
      <h2>Police Grade Precision</h2>
      <p>Alcohoot uses the same Platinum Electrochemical Fuel Cell technology used in police breathalyzers. Knowing your BAC% helps you make informed decisions that affect you and those around you.</p>
      <button>Buy Now</button>
    </div>
  </div>
  <div class="clear"></div>
</section>
<div class="clear"></div>

<section class="contentLeft appFeature">
  <div class="contentLeftHolder mainHolder">
    <img src="{{ 'appMock.png' | asset_url }}">
    <div>
      <h1>Drinking Analytics</h1>
      <h4>Real Actionable Data</h4>
      <p>SmartLine and the Morning quiz use algorithms to provide recommendations based on your drinking trends.</p>
      <h4>Learn your Limits</h4>
      <p>Integrate your actual data into future consumption.</p>
      <h4>Stay Safe</h4>
      <p> Data is only as good as the purpose it’s used for.</p>
      <button>Buy Now</button>
    </div>
  </div>
  <div class="clear"></div>
</section>

{% include 'productHighlight' %}

<section class="hashtag">
  <p>join on instagram</p>
  <h1>#knowyournumber</h1>
</section>


